## Exercise 1: Write a function to sort the list based on the first letter of the second element

lst=[(19542209, "New York") ,(4887871, "Alabama"), (1420491, "Hawaii"), (626299, "Vermont"), (1805832, "West Virginia"), (39865590, "California")]

Original list: [(19542209, 'New York'), (4887871, 'Alabama'), (1420491, 'Hawaii'), (626299, 'Vermont'), (1805832, 'West Virginia'), (39865590, 'California')]
Sorted list: [(4887871, 'Alabama'), (39865590, 'California'), (1420491, 'Hawaii'), (19542209, 'New York'), (626299, 'Vermont'), (1805832, 'West Virginia')]

In [1]:
lst=[(19542209, "New York") ,(4887871, "Alabama"), (1420491, "Hawaii"), (626299, "Vermont"), (1805832, "West Virginia"), (39865590, "California")]

In [9]:
def sortlst(lst):
    lst.sort(key = lambda x: x[1])
    return lst

In [10]:
sortlst(lst)

[(4887871, 'Alabama'),
 (39865590, 'California'),
 (1420491, 'Hawaii'),
 (19542209, 'New York'),
 (626299, 'Vermont'),
 (1805832, 'West Virginia')]

## Exercise 2:  Write a function to sort the list based on the last letter of the second element

Use list from previous question

Original list [(19542209, 'New York'), (4887871, 'Alabama'), (1420491, 'Hawaii'), (626299, 'Vermont'), (1805832, 'West Virginia'), (39865590, 'California')]
Sorted list [(4887871, 'Alabama'), (1805832, 'West Virginia'), (39865590, 'California'), (1420491, 'Hawaii'), (19542209, 'New York'), (626299, 'Vermont')]

In [11]:
def sortlst(lst):
    lst.sort(key = lambda x: x[1][-1])
    return lst

In [12]:
sortlst(lst)

[(4887871, 'Alabama'),
 (39865590, 'California'),
 (1805832, 'West Virginia'),
 (1420491, 'Hawaii'),
 (19542209, 'New York'),
 (626299, 'Vermont')]

## Exercise 3: Create a range from 1 to 8 merge the given list and together to create a new list of tuples.

lst1=["Energy", "Agriculture", "Industry", "Technology", "Finance", "Forestry", "Transport"]

In [14]:
lst1=["Energy", "Agriculture", "Industry", "Technology", "Finance", "Forestry", "Transport"]

In [23]:
lst = list(range(1,8))

In [29]:
lst2 = tuple(zip(lst1,lst)) #using zip

In [30]:
lst2

(('Energy', 1),
 ('Agriculture', 2),
 ('Industry', 3),
 ('Technology', 4),
 ('Finance', 5),
 ('Forestry', 6),
 ('Transport', 7))

In [33]:
tuple(map(lambda i,j:(i,j),lst1,lst)) #using map

(('Antartica', 1),
 ('America', 2),
 ('Armania', 3),
 ('Australia', 4),
 ('Albania', 5),
 ('Afganistan', 6),
 ('Alaska', 7))

## Exercise 4: Write a function and create a list consisted of the number of occurence of letter: a (all a's).

lst1=["Antartica", "America", "Armania", "Australia", "Albania", "Afganistan","Alaska"]

[3, 2, 3, 3, 3, 3, 3]

In [58]:
lst1=["Antartica", "America", "Armania", "Australia", "Albania", "Afganistan","Alaska"]
count = 0
list2 = []

In [83]:
def countA (lst1):
    count = int(0)
    list2 = []
    for i in lst1:
        count=0
        for j in i:
            if j == 'a' or j=='A':
                count = count + 1
        list2.append(count)
    return list2

In [85]:
countA (lst1)

[3, 2, 3, 3, 3, 3, 3]

## Exercise 5: Write a function filter all the vowels in a given string using filter.

str1="Inceptz is one of the best institutes to read data science in chennai"

['I', 'e', 'i', 'o', 'e', 'o', 'e', 'e', 'i', 'i', 'u', 'e', 'o', 'e', 'a', 'a', 'a', 'i', 'e', 'e', 'i', 'e', 'a', 'i']

In [92]:
str1="Inceptz is one of the best institutes to read data science in chennai"

In [115]:
lst = list(str1)
vowels = ['a','e','i','o','u']

In [119]:
res = list(filter(lambda x: True if x.lower() in vowels else False,lst))
print(res)

['I', 'e', 'i', 'o', 'e', 'o', 'e', 'e', 'i', 'i', 'u', 'e', 'o', 'e', 'a', 'a', 'a', 'i', 'e', 'e', 'i', 'e', 'a', 'i']

In [121]:
hal = [i for i in str1 for j in i if j.lower() in vowels]
print(hal)

['I', 'e', 'i', 'o', 'e', 'o', 'e', 'e', 'i', 'i', 'u', 'e', 'o', 'e', 'a', 'a', 'a', 'i', 'e', 'e', 'i', 'e', 'a', 'i']

## Exercise 6:  Write a function to create a list as the square of elements from the given list if the square is greater than 60

lst1=[5, 6, 7 , 8, 9, 10, 12, 14]

[64, 81, 100, 144, 196]

In [132]:
lst1=[5, 6, 7 , 8, 9, 10, 12, 14]

In [135]:
lst2 = list(map(lambda x: x*x,lst1))
list(filter(lambda x: x>60,lst2))

[64, 81, 100, 144, 196]

## Exercise 7: take the words given below as list and write a function and use reduce to make it a sentence
Inceptz 

provides

the

best

inclass 

trainings 

and

is 

the 

best

'Inceptez provides the best inclass trainings and is the best'

In [145]:
lst1 = ['Inceptez ','provides ','the ','best ','inclass ','trainings ','and ','is ','the ','best'] 
from functools import reduce

In [146]:
def forms (first,second):
    return first+''+second

In [147]:
reduce(forms,lst1)

'Inceptez provides the best inclass trainings and is the best'

In [152]:
reduce(lambda x,y: x+y,lst1)

'Inceptez provides the best inclass trainings and is the best'